<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumanima</title>
    <meta name="description" content="Descripción de la página">
    <meta name="keywords" content="Palabras clave">
    <meta name="author" content="Kumanima">
    <meta name="msapplication-TileImage" content="">
    <link rel="icon" type="image/png" href="./assets/images/logo_cabeza.svg">
    <link rel="preconnect" href="https://dominio.com">
    <meta name="robots" content="index, follow">
    <meta name="msapplication-TileColor" content="rgb(237, 10, 10)">
    <meta name="theme-color" content="rgb(237, 10, 10)">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgb(237, 10, 10)">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/images/logo_cabeza.svg">
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="./assets/css/vendor/slick.css">
    <link rel="stylesheet" href="./assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="./assets/css/vendor/sal.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/app.css">
    <meta property="og:title" content="Kumanima | Inicio">
    <meta property="og:description" content="Disfruta de una amplia selección de mangas y animes en nuestra página web">
    <meta property="og:url" content="https://kumanima.com/">
    <meta property="og:image" content="./assets/images/logo_cabeza.svg">
</head>
<body>
    <div id="preloader" style="display:none">
        <div class="resize2">
            <img id="logo-gif" class="resize mb-5" src="./assets/images/preloader.gif" alt="preloader">
        </div>
    </div>
    <header class="header header-frame">
        <div class="container">
            <!-- Start Mainmanu Nav -->
            <nav class="navbar navbar-expand-lg" style="justify-content: center !important;">
                <a class="navbar-brand" href="index.html"><img src="./assets/images/logo_letras_cabeza.svg" alt=""></a>
                </button>
            </nav>
        </div>

    </header>
    <main>
<input type="text">
<div>
    <% if (flash('error').length > 0) { %>
      <div class="alert alert-success">
        <%= flash('error')[0] %>
      </div>
    <% } %>
  </div>
    </main>
    <footer class="footer">
        <div class="footer-main style-1">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-12 col-12">
                        <div class="footer-widget">
                            <a href="home.html"><img alt="" src="./assets/images/logo_letras_cabeza.svg"></a>
                            <p class="mt-2 mb-4">Kumanima es una página web dedicada a los amantes del anime y el manga, al acceder a la página, encontrarán una amplia selección de series de anime y manga para leer y ver en línea de forma gratuita. Kumanima es una página web completa y fácil de usar que ofrece una amplia selección de series de anime y manga para leer y ver en línea de forma gratuita.</p>
                            <h6 class="mb-2">ÚNETE A NOSOTROS</h6>
                            <ul class="social-icons">
                                <li><a href=""><img alt="" src="./assets/images/footer/reddit.png"></a></li>
                                <li><a href=""><img alt="" src="./assets/images/footer/discord.png"></a></li>
                                <li><a href=""><img alt="" src="./assets/images/footer/instagram.png"></a></li>
                                <li><a href=""><img alt="" src="./assets/images/footer/twitter.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 col-12">
                        <div class="footer-widget align-middle">
                            <h6 class="m-0">Recibe notificaciones</h6>
                            <p class="light-text">Recibe correos electrónicos con las últimas noticias sobre anime y más</p>
                            <form action="home.html">
                                <div class="input-group form-group footer-email-box">
                                    <input class="form-control" type="email" name="email"
                                        placeholder="info@example.com">
                                    <button class="input-group-text anime-btn" type="submit">Subscribete</button>
                                </div>
                            </form>
                            <p class="text">Al suscribirte aceptas nuestros términos y condiciones</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom bg-color-black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="footer-copyright">
                            <span class="copyright-text">© 2023. All rights reserved by <a
                                    href="#">Kumanima</a>.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="footer-bottom-link text-end">
                            <a href="privacy.html">Privacy Policy</a>
                            <a href="comments.html" class="ps-2">Comments Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Jquery Js -->
    <script src="./assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/vendor/slick.min.js"></script>
    <script src="./assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="./assets/js/vendor/jquery-appear.js"></script>
    <script src="./assets/js/vendor/sal.js"></script>
    <script src="./assets/js/app2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</body>
</body>
</html>