.header.header-frame{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.43);background: rgba(0, 0, 0, 0.45);
}
.col-s12.heading.style-1{
    box-shadow: -7px 14px 35px 35px rgba(7, 5, 5, 0.49);background: rgba(0, 0, 0, 0.45);padding-right: 2%;
}